#board {
  display: inline-grid;
  grid-template-rows: repeat(6, 150px);
  grid-template-columns: repeat(5, 150px);
  grid-gap: 10px;
  grid-template-areas:
    ".    p2   p2    p2   ."
    "p1  play play play p3"
    "p1  play play play p3"
    "p1  draw  .   trsh p3"
    ".    p0   p0   p0   ."
    "log log  log  log log";
    align-items: center;
    justify-items: center;
    text-align: center;
}

#player0 {
  grid-area: p0;
}
#player1 {
  grid-area: p1;
}

#player2 {
  grid-area: p2;
}

#player3 {
  grid-area: p3;
}

#draw {
  grid-area: draw;
  background-color: lightblue;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  text-align: center;
  line-height: 120px;
  font-size: 42pt;
  margin: auto;
}
#play {
  grid-area: play;
  background-color: lightgreen;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  margin: auto;
}
#discard {
  grid-area: trsh;
  background: url("imgs/trashcan.svg") lightgray no-repeat center;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  border-radius: 10%;
}
.tile {
  background-color: lightgrey;
  border-radius: 10px;
  width: 80px;
  margin-left: 5px;
  margin-right: 5px;
}

#log {
  grid-area: log;
  width: 100%;
  height: 100%;
  font-size: 24pt;
}